.progress {
  appearance: none;

  position: relative;
  width: 100%;
  background: $color-gray-light;
  border: $border-small;
  border-color: $color-gray-dark;
  border-radius: $border-radius-base;
  height: $spacing-sm;
  overflow: hidden;

  @media screen and (min-width: $screen-sm) {
    height: $spacing-md * 0.75;
  }

  @media screen and (min-width: $screen-md) {
    height: $spacing-md;
  }
}

.progress::-moz-progress-bar {
  display: block;
  background: $color-yellow;
  border-radius: $border-radius-base;
}

.progress__inner {
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  transform: translateX(0);
  display: block;
  background: $color-yellow;
  border-radius: $border-radius-base;
}
